package ${basePackageName}.control;

import com.mes.common.framework.Exception.DubboProviderException;
import com.mes.common.framework.dubbo.DubboBaseInterface;
import com.mes.common.framework.rest.view.Page;

import java.util.List;
import java.util.Map;
#set($entityName="#getEntityName($table.name,true,$tableNamePrefix)")
/**
* $table.description
* Created by xiuyou.xu on 2017/7/4.
*/
public interface I${entityName}Provider extends DubboBaseInterface<${entityName}> {

}
