package ${basePackageName}.entity;

import com.mes.common.framework.domain.BeanValidationGroups;
import com.mes.common.framework.domain.TrackableEntity;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

import javax.validation.constraints.NotNull;
import javax.xml.bind.annotation.XmlAccessType;
import javax.xml.bind.annotation.XmlAccessorType;
#set($entityName="#getEntityName($table.name,true,$tableNamePrefix)")
/**
* $table.description
*
* Created by xiuyou.xu on #getCurrentDate().
*/
@ApiModel(value = "${entityName}", description = "$table.description")
@XmlAccessorType(XmlAccessType.FIELD)
public class ${entityName} extends TrackableEntity {
#foreach($column in $table.columns)
    #set($inherited="#fieldInherited($column.name)")
    #if($inherited == "n")
    #set($fieldName="#getFieldName($column.name,false,"""")")

    ##   @NotNull(message = "$column.description", groups = {BeanValidationGroups.CreateGroup.class})

    @ApiModelProperty(value="$column.description")
    private #getJavaType($column.dataType) ${fieldName};
    #end
    #end

    #foreach($column in $table.columns)
    #set($inherited="#fieldInherited($column.name)")
    #if($inherited == "n")
    #set($fieldName="#getFieldName($column.name,false,"""")")
    #set($javaType="#getJavaType($column.dataType)")

    public ${javaType} get#getEntityName($column.name,false,"") () {
        return ${fieldName};
    }

    public void set#getEntityName($column.name,false,"") (${javaType} ${fieldName}) {
        this.${fieldName} = ${fieldName};
    }
    #end
    #end

}
